<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jacques.shiro.dao.UserDao">

    <select id="selectDetails" resultType="com.jacques.shiro.pojo.User">
        SELECT `id`,
               `username`,
               `tel`,
               `create_time`,
               `status`,
               `role_id`
        FROM `user`
        WHERE `id` = #{id}
    </select>

    <select id="verifyId" resultType="Boolean">
        SELECT 1
        FROM `user`
        WHERE `id` = #{id}
    </select>
</mapper>